<html>
  <head>
    <title><%=title%></title>
    <%- style %>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/images/layout-favicon.png"
    />
  </head>

  <body>
    <%- include('_header');%> <%- body %> <%- include('_footer');%> <%- script
    %>
  </body>
</html>
